{{!< default}}

{{#if @blog.navigation}}
    <header class="site-header outer">
        <div class="inner">
            <nav class="site-nav">
                <div class="site-nav-left">
                    {{navigation}}
                </div>
            </nav>
        </div>
    </header>
{{/if}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        {{#get "posts" slug="home" as |post|}}
        {{#post}}

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <section class="post-full-content">
                <div class="post-content">
                    <h1 aria-hidden="false" style="display: none;">{{title}}</h1>

                    {{content}}
                </div>
            </section>

        </article>

        {{/post}}
        {{/get}}

        <div class="post-feed">
            {{#foreach posts}}

                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>
{{/contentFor}}
