@import "screen.css";

:root {
    /* Named colors */
    --challenge-red: #dd3333;
    --cta-yellow: #edbb13;
    --off-black: #222;
    --off-white: #f5f5f5;

    /* Default */
    --background: #fff;
    --button-background: var(--cta-background);
    --button-foreground: var(--cta-foreground-bold);

    /* Themed sections */
    --cta-background: var(--cta-yellow);
    --cta-button-background: var(--off-black);
    --cta-button-foreground: var(--off-white);
    --cta-foreground: var(--off-black);
    --cta-foreground-bold: var(--off-black);
    --cta-foreground-link: color(var(--blue) lightness(25%));
}

/*
 * Home template
 */

.home-template .nav li a {
    color: inherit;
}

.home-template .post-card {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
        1px calc(3px * 1 / 3) 8px rgba(39, 44, 49, calc(0.03 * 4));
}
.home-template .post-card:hover {
    box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
        1px calc(6px * 1 / 3) 12px rgba(39, 44, 49, calc(0.04 * 4));
}

.home-template .post-feed {
    padding-top: 0;
    z-index: 50;
}
@media (min-width: 900px) {
    .home-template .post-feed {
        margin-top: 0;
    }
}

.home-template .site-header {
    background: var(--background);
    color: inherit;
}
.home-template .site-header::before {
    background: none;
}

.home-template .site-main {
    background: var(--background);
    padding-top: 5vw;
}

.home-template .site-nav {
    justify-content: flex-end;
    top: 0;
}

.home-template .site-nav-left {
    margin-left: 10px;
    margin-right: 0;
}

.home-template .site-nav-logo {
    color: inherit;
}

/*
 * Button
 */

.sfwc-button,
.post-full-content .sfwc-button {
    background: var(--button-background);
    border-radius: 0.5rem;
    border: none;
    box-shadow: none;
    color: var(--button-foreground);
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    outline: none;
    padding: 1em 1.5em;
    text-align: center;
    transition: all ease 0.2s;
    word-break: normal;
}
.sfwc-button:active,
.sfwc-button:hover,
.post-full-content .sfwc-button:hover {
    background: color(var(--cta-background) lightness(+5%));
    text-decoration: none;
}
@media (max-width: 500px) {
    .post-full-content .sfwc-button {
        margin-bottom: 4vw;
    }
}
@media (max-width: 800px) {
    .post-full-content .sfwc-button {
        width: 100%;
    }
}
@media (min-width: 801px) {
    .post-full-content .sfwc-button {
        font-size: 2.2rem;
    }
}

/*
 * Strong
 */

strong.red {
    color: var(--challenge-red);
    font-weight: inherit;
}

/*
 * Section
 */

.sfwc-section {
    margin-bottom: 6vw;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 6vw;
    width: 100vw;
}
.sfwc-section .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media (min-width: 501px) {
    .sfwc-section {
        margin-top: calc(6vw - 0.5em);
        padding-bottom: calc(6vw - 0.5em);
    }
    .sfwc-section .inner {
        padding-left: 7vw;
        padding-right: 7vw;
    }
}
@media (min-width: 1171px) {
    .sfwc-section .inner {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.sfwc-section.sfwc-cta {
    background: var(--cta-background);
    color: var(--cta-foreground);
}

.sfwc-section.sfwc-cta em {
    color: inherit;
}

.sfwc-section.sfwc-cta a,
.sfwc-section.sfwc-cta b,
.sfwc-section.sfwc-cta h1,
.sfwc-section.sfwc-cta h2,
.sfwc-section.sfwc-cta h3,
.sfwc-section.sfwc-cta h4,
.sfwc-section.sfwc-cta h5,
.sfwc-section.sfwc-cta h6,
.sfwc-section.sfwc-cta strong {
    color: var(--cta-foreground-bold);
}

.sfwc-section.sfwc-cta a:not(.sfwc-button) {
    box-shadow: var(--cta-foreground-link) 0 -1px 0 inset;
}

.sfwc-section.sfwc-cta a:not(.sfwc-button):hover {
    color: var(--cta-foreground-link);
}

.sfwc-section.sfwc-cta .sfwc-button {
    background-color: var(--cta-button-background);
    color: var(--cta-button-foreground);
}
.sfwc-section.sfwc-cta .sfwc-button:active,
.sfwc-section.sfwc-cta .sfwc-button:hover {
    background: color(var(--cta-button-background) lightness(+5%));
}
